{% extends "FOSUserBundle::layout.html.twig" %}

{% block body_class %}login{% endblock %}

{% block body %}
    {% for key, message in app.session.flashbag.all() %}
        <div class="alert alert-{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}

    {% block fos_user_content %}
        {% if error %}
            <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
        {% endif %}

        {% include "CYTNUserBundle:Security:login_content.html.twig" %}
    {% endblock fos_user_content %}

{% endblock %}

{% block others_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.forgot-pass').click(function(event) {
                $(".pr-wrap").toggleClass("show-pass-reset");
            });

            $('.pass-reset-submit').click(function(event) {
                $(".pr-wrap").removeClass("show-pass-reset");
            });
        });
    </script>
{% endblock %}