<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pr-wrap">
                <div class="pass-reset">
                    <label>Votre adresse mail</label>
                    <input type="email" placeholder="@Email" />
                    <input type="submit" value="Envoyer" class="pass-reset-submit btn btn-success btn-sm" />
                    <a class="forgot-pass btn btn-danger btn-sm">X</a>
                </div>
            </div>
            <div class="wrap">
                <p class="form-title">CONNEXION</p>
                <form class="login" role="form" action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Login" required>
                    <input type="password" id="password" name="_password" placeholder="Mot de passe" required>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on"> Se rappeler de moi
                        </label>
                    </div>
                    <input type="submit" id="_submit" name="_submit" class="btn btn-success btn-sm" value="Connexion">
                    <div class="remember-forgot">
                        <div class="row">
                            <div class="col-md-6 forgot-pass-content">
                                <a href="{{ path('fos_user_registration_register') }}">Nouveau?</a>
                            </div>
                            <div class="col-md-6 forgot-pass-content">
                                <a class="forgot-pass">Mot de passe oublié</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>