{% extends "CYTNAdminBundle::layout.html.twig" %}

{% block body %}
    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {{ form_rest(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}