{% extends "CYTNAdminBundle::layout.html.twig" %}

{% block body %}
    <h1>Administration</h1>
    <h2>Equipe</h2>
    
    <div class="well">
    <ul>
    {% for team in teams %}
        <li>
            <a href="#">
                <img src="{{ asset(team.flag.webPath) }}" alt="{{ team.flag.alt }}" class="smallFlag" />
                {{ team.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}